<<<<<<< HEAD
body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
=======
body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
>>>>>>> 19b641a8cb2ce7720eacf3dac850c80ee0f4964c
}